# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/LinnMacroCustomer.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  projectName: 'LinnworksAPICore'
  projectFile: 'LinnworksAPICore.csproj'
  oldProjectName: 'LinnworksAPI'
  oldProjectFile: 'LinnworksAPI.csproj'

steps:
- task: NuGetToolInstaller@1
  displayName: 'Install NuGet'

- task: NuGetCommand@2
  displayName: 'Core# Restore Packages'
  inputs:
    restoreSolution: '**/$(projectFile)'

- task: VSBuild@1
  displayName: 'Core# Build'
  inputs:
    solution: '**\\$(projectFile)'
    configuration: '$(buildConfiguration)'
    msbuildArchitecture: 'x64'

- task: DotNetCoreCLI@2
  displayName: 'Core# Package (using dotnet)'
  inputs:
    command: 'pack'
    packagesToPack: '**/$(projectFile)'
    versioningScheme: 'off'


- task: NuGetCommand@2
  displayName: 'Old# Restore Packages'
  inputs:
    command: 'restore'
    restoreSolution: '**/$(oldProjectFile)'
    restoreDirectory: 'packages'

- task: VSBuild@1
  displayName: 'Old# Build'
  inputs:
    solution: '**\\$(oldProjectFile)'
    configuration: '$(buildConfiguration)'
    msbuildArchitecture: 'x64'

- task: NuGetCommand@2
  displayName: 'Old# Package nuget'
  inputs:
    command: 'pack'
    packagesToPack: '**\\$(oldProjectFile)'
    versioningScheme: 'off'


- task: DotNetCoreCLI@2
  displayName: 'Push to nuget feed (using dotnet)'
  inputs:
    command: 'push'
    packagesToPush: '**/$(oldProjectName).*.nupkg;**/$(projectName).*.nupkg'
    nuGetFeedType: 'internal'
    publishVstsFeed: '825df0d3-3282-4f66-b514-81618b93ef3b'
